<div id="{{ area.areaId }}">
    {% for subArea in area.areas %}
        {% include "OpenOrchestraFrontBundle:Node:area.html.twig" with {"area": subArea, 'nodeId': nodeId, 'siteId': siteId, 'language': language} only %}
    {% endfor %}
    {% for blockReference in area.blocks %}
        <div>
            {% if blockReference.nodeId is sameas(0) %}
                {% set nodeReference = nodeId %}
            {% else %}
                {% set nodeReference = blockReference.nodeId %}
            {% endif %}
            {% set routeParams = app.request.attributes.get('_route_params') %}
            {% set requestHeader = app.request.headers.all %}
            {% set queryParams = app.request.query.all|merge(routeParams)|merge({'siteId': siteId, 'nodeId': nodeReference, 'blockId': blockReference.blockId, 'language': language})|merge(requestHeader) %}
            {{ render_esi(url('open_orchestra_front_block', queryParams)) }}
        </div>
    {% endfor %}
</div>
