<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{ node.name }}{% endblock %}</title>
        {% block stylesheets %}
            {{ openOrchestraCss(node.theme) }}
        {% endblock %}
    </head>
    <body>
        <div id="orchestra">
            {#<span>datetime : {{ datetime }}</span>#}
            <div id="orchestra-main">
                {% for area in node.areas %}
                    {% include "OpenOrchestraFrontBundle:Node:area.html.twig" with {"area": area, 'nodeId': node.nodeId, 'siteId': node.siteId, 'language': node.language } only %}
                {% endfor %}
            </div>
        </div>
        
        {% block javascripts %}
            {{ openOrchestraJs(node.theme) }}
        {% endblock %}
    </body>
</html>
