<header class="row well header">
    <div class="pull-left">
        {{ create_block('menu') }}
    </div>

    <div class="pull-right">
        {{ create_block('language_list') }}
    </div>
</header>
