<header id="row_header" class="header">
    {{ render_area('header', node, {'parameters': parameters }) }}
</header>
<main>
    {{ render_area('main', node, {'parameters': parameters }) }}
</main>
<footer id="row_footer" class="footer">
    {{ render_area('footer', node, {'parameters': parameters }) }}
</footer>
